# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @bclswl0827 will be requested for
# review when someone opens a pull request.

*       @bclswl0827